.wrapper {
  position: relative;
  padding: 1rem;
  margin: 0 auto;

  --max-width: min(100%, 44rem);
}

.blogHero {
  grid-area: hero;
  min-height: 12rem;
  max-width: var(--max-width);
}

.blogTitle {
  font-size: 1.75rem;
  font-weight: 700;
  text-wrap: balance;
}

.disclaimer {
  margin: 0.5rem 0 2rem 0;

  color: var(--color-gray-11);
  font-style: italic;
  font-weight: 300;
}

.content {
  grid-area: content;
  max-width: var(--max-width);
}

.toc {
  display: none;
}

@media (min-width: 70rem) {
  .wrapper {
    max-width: var(--width-max-content);
    display: grid;
    grid-template-areas:
      "hero empty"
      "content sidebar";
    gap: 2.5rem;
    grid-template-columns: 1fr 18rem;
  }

  .blogHero {
    grid-area: hero;
  }

  .content {
    grid-area: content;
  }

  .toc {
    display: revert;

    grid-area: sidebar;
    align-self: start;

    /* this needs to be 100% so the container for the
    sticky element is the height of the grid */
    height: 100%;
  }
}
