:root {
  /* these colors come from Radix */
  /* https://www.radix-ui.com/colors */
  --color-gray-1: #fcfcfc;
  --color-gray-11: #646464;
  --color-gray-12: #202020;
  --color-blue-3: #e6f4fe;
  --color-blue-11: #0d74ce;
  --color-blue-12: #113264;

  /* widths and heights */
  --width-max-content: min(65rem, 100%);
  --height-header: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--color-gray-12);
  background-color: var(--color-gray-1);
}

main {
  position: relative;
  max-width: var(--width-max-content);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 6rem;
}

a {
  color: var(--color-blue-12);
}

a:hover {
  color: var(--color-blue-11);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
