.heading {
  font-weight: 600;
  line-height: 1.1;

  /* to keep the heading from disappearing below the
     header on scroll */
  scroll-margin-top: calc(var(--height-header) + 1rem);
}

.heading2 {
  composes: heading;
  margin-top: 2.5rem;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

.heading3 {
  composes: heading;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}
